@font-face{

    font-family: 'RobotoThin';
    src: url('font/3967.ttf') format('truetype')
}


body
{
    font-family: "RobotoThin";
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    background-color:rgb(212, 212, 212);
}

h2
{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    box-shadow: 0 8px 0 rgb(167, 167, 167);
    color: #108a71;
    background-color: rgb(228, 228, 228);
}

header
{
    width: 100%;
    height: 800px;
    margin: 0;
    background-image: url('img/main.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    
}

header nav
{
    position: absolute;
    color:rgb(122, 122, 122);
    width: 100%;
    font-weight: 1000;
    background-color: black;
    font-size:2em;
}

header nav ul
{
    margin: auto;
    display: grid;
    width: fit-content;
    text-align: center;
}

header nav li
{
    margin: 15px;
    list-style: none;
}

a
{
    text-decoration: none;
    color:rgb(122, 122, 122);
}

header nav #userName
{
     font-size: 2em;
}

header nav button
{
    background-color: black;
    color:rgb(122, 122, 122);
    
}

.hidden-block{
	opacity:0; 
	transition: 1s; 
}

.show-block{
	opacity:1; 
	transition: 1s; 
}

.burger-menu
{
    width:50px;
    height:50px;
    border:solid;
    display: grid;
    border-radius: 20%;
    border-color: rgb(107, 106, 106);
}
.menu-items
{
    background-color: rgb(107, 106, 106);
    margin: 5px;
    border-radius: 25%;
}


main
{
    display: grid;
}

section
{
    width: 100%;
    height: fit-content;
    display: grid;
    margin-top: 3%;
    background-color: rgb(212, 212, 212);
}

form
{
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 0 rgb(167, 167, 167);
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
}
main form{margin:auto;}
header form{margin:30px;}
form address
{
    font-size: 1em;
    font-weight: 600;
    margin: 10px;
}

h3
{
    text-align: center;
    font-size: 2em;
    margin: 10px;
    font-weight: 800;
}

input
{
    border-radius: 25px;
    font-size: 1em;
    border: none;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}

select
{
    border-radius: 25px;
    font-size: 1em;
    border: none;
    margin-top: 10px;
    padding: 15px;
}


input[type=submit]
{
    background-color: rgb(228, 228, 228);
    padding: 15px 50px;
    font-weight: 600;
    font-size: 1em;
    color: #108a71;
    border: solid;
    border-radius: 26%;
    border-width: 4px;
    margin: auto;
    margin-top: 10px;
}

.forms
{
    display: flex;
    margin: auto;
    width: fit-content;
}

#addDateTime{
    margin: auto;
    margin-top: 3%;
}

textarea
{
    border-radius: 25px;
    font-size: 1em;
    border: none;
    margin-top: 10px;
    padding: 15px;
    display: grid;
}

button
{
    background-color: rgb(228, 228, 228);
    padding: 15px 50px;
    font-weight: 600;
    font-size: 1em;
    color: #108a71;
    border: solid;
    border-radius: 26%;
    border-width: 4px;
    margin: auto;
    margin-top: 10px;
}

label{ margin: 4px;}
#btnMenu
{
    background-color: #108a71;
    color:  black;
}

button a{color: #108a71;}

.buttons
{
    display: flex;
    margin: 10px;
}

.calendar
{
    text-align: center;
    display: grid;
}

.back
{
    background-color: #1abc9c;
    color:white;
    text-align: center;
    display: flex;
    font-size: 3em;
    width: 100%;
}
.back button
{
    color: white;
    background-color: #1abc9c;
    display: flex;
    margin: auto;
    padding: 10px 20px;

}
.calendar-container
{
    display: grid;
    width: 50%;
    margin: auto;
}


ul {list-style-type: none;}
li{margin: auto;}
.days {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 2em;
    background: #eee;
    margin: 0;
}


.active {
    padding: 5px;
    background: #1abc9c;
    color: white;
    cursor:pointer;
}

.lists
{
    color: black;
    display: flex;
    margin: auto;
    width: 100%;

}
.lists ol
{
    font-size: 1em;
    background-color: rgb(228, 228, 228);
    margin: 10px;
    width: 100%;
    
}
.lists li
{
    margin: 3%;
}
.figures
{
    display: grid;
    margin: auto;
}
.figures figure
{
    width: fit-content;
    margin: auto;
}

.figures figure img
{
    width: 600px;
}

.arrow-scroll {
    position: relative;
    width: 70px;
    height: 70px;
    margin: auto;
    bottom: -60%;
}
.arrow-scroll:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-left: 26px solid #0c6e5b;
    border-bottom: 26px solid #0c6e5b;
    transform: translate(26px, 106px) rotate(-45deg);
    animation: arrow-scroll 3s linear infinite;
}
.arrow-scroll:after {
    content: '';
    position: absolute;
    box-sizing: border-box;    
    width: 100%;
    height: 100%;
    border-left: 26px solid #0c6e5b;
    border-bottom: 26px solid #0c6e5b;
    transform: translate(53px, 0px) rotate(-45deg);
    animation: arrow-scroll 3s linear infinite -1.5s;
}
 
@keyframes arrow-scroll {
    0% {
        opacity: 0;
        transform: translate(-13px, -53px) rotate(-45deg);
    }
    10%, 90% {
        opacity: 0;
    }
    50% {
        opacity: 1;  
        border-left: 26px solid #0c6e5b;
        border-bottom: 26px solid #0c6e5b;
        transform: translate(-13px, 0px) rotate(-45deg);
    }
    100% {
        opacity: 0;
        transform: translate(-13px, 53px) rotate(-45deg);
    }
}



#navigation ul
{
    list-style: none;
    margin: auto;
    display: flex;
}
#navigation li
{
    float:left;
}
#navigation 
{
    background-color:rgb(212, 212, 212);
    width: 100%;
    display: flex;

}

#navigation a :active 
{
    background: #0c6e5b;
    
}
#navigation .var1 li:last-child a
{
    background: #0c6e5b;
}
#navigation  ul li a:after {
    padding: -1px 40px 0 40px;
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #0c6e5b;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 1;
}
#navigation ul li a:before {
	content: "";
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid rgb(212, 212, 212);
    position: absolute; 
    left: 0; 
    top: 0;
    
}

#navigation ul li a
{
    display: block;
    float: left;
    height: 50px;
    background: #0c6e5b;
    text-align: center;
    padding: 30px 40px 0 80px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
#navigation ul li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#navigation ul li:first-child a:before {
	display: none;
}
#navigation ul li:last-child a {
	padding-right: 80px;
    border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
}
#navigation ul li:last-child a:after {
	display: none;
}

.massage {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #8bccbf;
    background-color: #8bccbf;
  }
  
  /* Clear floats */
  .massage::after {
    content: "";
    clear: both;
    display: table;
  }
  .massage p
{
      font-size: 1.5em;
      font-weight: 800;
}
  
  /* Style images */
  /* Style time text */
  .name-right {
    float: right;
    color: black;
    font-weight: 800;
    font-size: 2em;
  }
  
  /* Style time text */
  .name-left {
    float: left;
    color: black;
    font-weight: 800;
    font-size: 2em;
  }
  .chat
  {
      overflow: auto;
      height: 400px;
  }

  .conteiner
{
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 600;
    margin: 20px;
}


.conteiner h3{text-align: center;}
.conteiner figure{ 
    background-color: rgb(228, 228, 228);
    width: fit-content;
    margin: auto
}
.conteiner figure img
{
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 10px;
}
.conteiner figcaption
{
    padding: 10px;
}
.conteiner figcaption p{
    text-align: center;
    font-size: 2em;
}
.buttons button{color:#0c6e5b;}

img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    width: 50px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

 .info{
    display: grid; 
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    box-shadow: 0 8px 0 rgb(167, 167, 167);
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
  }

  .inline
  {
      display: flex;
  }