@font-face{

    font-family: 'RobotoThin';
    src: url('font/3967.ttf') format('truetype')
}

body
{
    font-family: "RobotoThin";
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    background-color:rgb(212, 212, 212);;
}

h2
{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    color: #108a71;
    background-color: rgb(228, 228, 228);
}

header
{
    width: 100%;
    height: 500px;
    margin: 0;
    background-image: url('img/main.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    
}

nav
{
    position: absolute;
    color:rgb(122, 122, 122);
    width: 100%;
    font-weight: 1000;
    background-color: black;
    font-size:2em;
}

nav ul
{
    margin: auto;
    display: grid;
    width: fit-content;
    text-align: center;
}

nav li
{
    margin: 15px;
    list-style: none;
}

a
{
    text-decoration: none;
    color:rgb(122, 122, 122);
}

nav #userName
{
     font-size: 2em;
}

nav button
{
    background-color: black;
    color:rgb(122, 122, 122);
    
}

.hidden-block{
	opacity:0; 
	transition: 1s; 
}

.show-block{
	opacity:1; 
	transition: 1s; 
}

.burger-menu
{
    width:50px;
    height:50px;
    border:solid;
    display: grid;
    border-radius: 20%;
    border-color: rgb(107, 106, 106);
}
.menu-items
{
    background-color: rgb(107, 106, 106);
    margin: 5px;
    border-radius: 25%;
}


main
{
    display: grid;
}

section
{
    width:100%;
    background-color:rgb(212, 212, 212)

}

form
{
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
}

main form{margin:auto;}
header form{margin:30px;}
form address
{
    font-size: 1em;
    font-weight: 600;
    margin: 10px;
}

form h3
{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

input
{
    border-radius: 25px;
    font-size: 1em;
    border: none;
    margin-top: 10px;
    padding: 15px;
    display: grid;
}

select
{
    border-radius: 25px;
    font-size: 1em;
    border: none;
    margin-top: 10px;
    padding: 15px;
}


input[type=submit]
{
    background-color: rgb(228, 228, 228);
    padding: 25px 50px;
    font-weight: 600;
    font-size: 1em;
    color: #108a71;
    border: solid;
    border-radius: 35%;
    border-width: 4px;
    margin: auto;
    margin-top: 10px;
}

.forms
{
    display: flex;
    margin: auto;
    width: fit-content;
}

#addDateTime{
    margin: auto;
    margin-top: 3%;
}

button
{
    padding: 25px 20px;
    font-weight: 600;
    font-size: 1em;
    border: solid;
    border-radius: 35%;
    border-width: 4px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.view-car button
{
    background-color:  rgb(228, 228, 228);
    color: #108a71;
    
}
button a{color: #108a71;}

.view-car
{
    background-color:  rgb(228, 228, 228);
    display: grid;
    font-weight: 600;
    margin: 20px;
}


.view-car h3{text-align: center;}

.view-car figure img
{
    width: 300px;
    height: 250px;
}

.container
{
    display: flex;
    margin: auto;
    width: fit-content;

}

.buttons
{
    display: flex;
    margin: 10px;
}

.calendar
{
    text-align: center;
    display: grid;
}

.back
{
    background-color: #1abc9c;
    color:white;
    text-align: center;
    font-size: 3em;
    width: 100%;
}
.calendar-container
{
    display: grid;
    width: 50%;
    margin: auto;
}


ul {list-style-type: none;}




.days {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 2em;
    background: #eee;
    margin: 0;
}


li .active {
    padding: 5px;
    background: #1abc9c;
    color: white;
}

.lists
{
    
    color: black;
    display: flex;
    

}
.lists ol
{
    font-size: 1em;
    background-color: rgb(228, 228, 228);
    margin: auto;
    padding: 3%;
    
}
.lists li
{
    margin: 3%;
}
.figures
{
    display: grid;
    margin: auto;
}
.figures figure
{
    width: fit-content;
    margin: auto;
}

.figures figure img
{
    width: 600px;
}